body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 420%;
  color: #66BFBF;
}
h2{
  padding-bottom: 10px;
  font-family: Montserrat, serif;
  color: #66BFBF;

  font-size: 200%;
}
h3{
  font-family: Montserrat, serif;
  color: #11999E;
}
.top-container{
  padding-top: 100px;
  background-color: #EAF6F6;
  position: relative;
  margin-bottom: 20px;

}
.middle-container{
  margin:100px 0;
}
.intro{
  width:30%;
  margin:auto;
}
.topcloud{
  position:relative;
  left:200px;

}
.bottomcloud{
  position:absolute;
  bottom:650px;
  right:60%;

}
.mountain{
  margin-top: 100px;
}
.skill-row{
  width:30%;
  display: inline-block;
}
.webdevlopment{
  display: inline-block;
}
.programming{
  display: inline-block;
}
.Systemadmin{
  display: inline-block;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-top: none;
  width:5%;
  margin: 100px auto;
}
.contact-me{
  width: 30%;
  margin:100px auto;
}
.btn{

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Montserrat, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0 20px;
}
.copyright{
  color: #EAF6F6;
}
